.debut-galeria {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 200px;
        height: 200px;
    }
}

.debut-item {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: debut-item;

    img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        border: 2px solid #a39193;
    }
}

.canciones-debut {
    grid-area: canciones;
    text-align: center;

    li {
        list-style: none;
    }
}

.debut-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;

    img {
        border: 2px solid #a39193;
        border-radius: 10px;
    }
}

.grid-debut {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "debut-item"
        "canciones";
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media(min-width:500px) {
    .grid-debut {
        grid-template-columns: 1fr;
        grid-template-areas:
            "debut-item"
            "canciones";
    }

    .debut-grid-galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }

    .debut-item {
        img {
            width: 320px;
            height: 320px;
        }
    }

    .debut-galeria {
        img {
            width: 300px;
            height: 300px;
        }
    }
}

@media(min-width:768px) {
    .grid-debut {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "debut-item   debut-item"
            "canciones    canciones";
    }

    .debut-grid-galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
}

@media(min-width:1024px) {
    .grid-speaknow {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "debut-item        debut-item"
            "canciones         canciones";
    }

    .debut-grid-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
}