/*DISCOGRAFIA*/
.acercar {
    overflow: hidden;
}

.acercar img {
    transition: all 5s;
}

.acercar:hover img {
    transform: scale(1.5);
}

.bodycard {
    background-color: $colorbody;
    font-family: 'Lato', sans-serif;
}

.card {
    @extend .bodycard;
}

.debut {
    grid-area: debut;
}

.speaknow {
    grid-area: speaknow;
}

.milnueveochentaynueve {
    grid-area: milnueveochentaynueve;
}

.reputation {
    grid-area: reputation;
}

.lover {
    grid-area: lover;
}

.folklore {
    grid-area: folklore;
}

.evermore {
    grid-area: evermore;
}

.fearless {
    grid-area: fearless;
}

.red {
    grid-area: albumred;
}

.midnights {
    grid-area: midnights;
}

.grid-img {
    display: grid;
    grid-template-areas:
        "debut"
        "speaknow"
        "milnueveochentaynueve"
        "reputation"
        "lover"
        "folklore"
        "evermore"
        "fearless"
        "albumred"
        "midnights";
    grid-template-columns: 1fr;
    grid-row: 1fr;
    gap: 15px;
    justify-items: center;
}

@media(min-width:500px) {
    .grid-img {
        display: grid;
        grid-template-areas:
            "debut                  speaknow"
            "milnueveochentaynueve  reputation"
            "lover                  folklore"
            "evermore               fearless"
            "albumred               midnights";
        grid-template-columns: 2fr 2fr;
    }
}

/*768 px en ADELANTE  */
@media(min-width:768px) {
    .grid-img {
        display: grid;
        grid-template-areas:
            "debut                  speaknow"
            "milnueveochentaynueve  reputation"
            "lover                  folklore"
            "evermore               fearless"
            "albumred               midnights";
        grid-template-columns: 2fr 2fr;
    }
}

/* 1024 px en ADELANTE */
@media(min-width:1024px) {
    .grid-img {
        display: grid;
        grid-template-areas:
            "debut     speaknow  milnueveochentaynueve  reputation"
            "lover     folklore  evermore               fearless"
            "albumred  midnights null                   null";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 1.5em;
    }
}