.fearless-galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 250px;
        height: 444px;
    }
}
.fearless-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2d9cb;
    grid-area: midnights-item;
    img{
        width: 200px;
        height: 200px;
    }
}

.prologo-fearless{
    grid-area: prologo;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 200px;
        height: 200px;
    }
}

.canciones-fearless{
    grid-area: canciones;
    text-align: center;
    li{
        list-style: none;
    }
}

.fearless-grid-galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.grid-fearless {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "midnights-item"
        "prologo"
        "canciones";
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media(min-width:500px) {
    .grid-fearless {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "midnights-item"
        "prologo"
        "canciones";
    }
    .fearless-grid-galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    .prologo-fearless{
        img{
            width: 500px;
            height: 500px;
        }
    }
    .fearless-item {
        img{
            width: 320px;
            height: 320px;
        }
    }
}

@media(min-width:768px) {
    .grid-fearless {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "midnights-item  midnights-item"
        "prologo         prologo"
        "canciones       canciones";
    }
    .fearless-grid-galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
}

@media(min-width:1024px) {
    .grid-fearless{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "midnights-item  midnights-item"
        "prologo         prologo"
        "canciones       canciones";
    }
    .fearless-grid-galeria{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    .prologo-fearless{
        img{
            width: 500px;
            height: 500px;
        }
    }
}