.folklore-galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.folklore-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2d9cb;
    grid-area: folklore-item;
    img{
        width: 200px;
        height: 200px;
    }
}

.prologo-folklore{
    grid-area: prologo;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 200px;
        height: 200px;
    }
}

.canciones-folklore{
    grid-area: canciones;
    text-align: center;
    li{
        list-style: none;
    }
}

.folklore-grid-galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.grid-folklore {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "folklore-item"
        "prologo"
        "canciones";
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media(min-width:500px) {
    .grid-folklore {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "folklore-item"
        "prologo"
        "canciones";
    }
    .folklore-grid-galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    .prologo-folklore{
        img{
            width: 500px;
            height: 500px;
        }
    }
    .folklore-item {
        img{
            width: 320px;
            height: 320px;
        }
    }
}

@media(min-width:768px) {
    .grid-folklore {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "folklore-item   folkore-item"
        "prologo         prologo"
        "canciones       canciones";
    }
    .folklore-grid-galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
}

@media(min-width:1024px) {
    .grid-folklore{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "folklore-item   folklore-item"
        "prologo         prologo"
        "canciones       canciones";
    }
    .folklore-grid-galeria{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
}