/* GALERIA */
/*comienzo a dar estilos mobile first 0-500*/

.grid-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.grid-item:hover {
    filter: opacity(0.9);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;

    img {
        width: 200px;
        height: auto;
    }
}

@media(min-width:500px) {
    .grid-container {
        grid-template-columns: 1fr;

        img {
            width: 400px;
            height: auto;
        }
    }
}

@media(min-width:768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;

        img {
            width: 300px;
            height: auto;
        }
    }
}

@media(min-width:1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}