/*mobile first 0px-500px*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: $colorfondo;
    text-align: center;
    padding: 15px;
}

body {
    background-color: $colorbody;
    font-family: 'Lato', sans-serif;
}

footer {
    background-color: $colorfondo;
}

.bgnav {
    background-color: $colorfondo;
}