/* INDEX */
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    img {
        width: 200px;
        height: 66px;
        border: solid black 2px;
        border-radius: 10px;
    }
}

.containerfrase {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    grid-area: frase;
}

.frase {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.parrafosindex {
    grid-area: parrafosindex;
    padding: 15px;
}

.index-container {
    display: grid;
    margin-bottom: 1.5em;
    gap: 20px;
    grid-template-areas:
        "header"
        "frase"
        "parrafosindex";
}


@media(min-width:500px) {
    .index-container {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header                header"
            "frase                 frase"
            "parrafosindex         parrafosindex";
    }

    .header {
        img {
            width: 300px;
            height: 100px;
        }
    }
}

@media(min-width:768px) {
    .index-container {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header                header               header"
            "frase                 frase                frase"
            "parrafosindex         parrafosindex        parrafosindex";
    }

    .header {
        img {
            width: 600px;
            height: 200px;
        }
    }
}

@media(min-width:1024px) {
    .index-container {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header               header"
            "frase                frase"
            "parrafosindex        parrafosindex";
    }

    .header {
        img {
            width: 700px;
            height: 233px;
        }
    }
}
