.lover-galeria{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lover-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2d9cb;
    grid-area: lover-item;
    img{
        width: 200px;
        height: 200px;
    }
}

.prologo-lover{
    grid-area: prologo;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 200px;
        height: 200px;
    }
}

.canciones-lover{
    grid-area: canciones;
    text-align: center;
    li{
        list-style: none;
    }
}

.lover-grid-galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.grid-lover {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "lover-item"
        "prologo"
        "canciones";
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media(min-width:500px) {
    .grid-lover {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "lover-item"
        "prologo"
        "canciones";
    }
    .lover-grid-galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    .prologo-lover{
        img{
            width: 500px;
            height: 500px;
        }
    }
    .lover-item {
        img{
            width: 320px;
            height: 320px;
        }
    }
}

@media(min-width:768px) {
    .grid-lover {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "lover-item      lover-item"
        "prologo         prologo"
        "canciones       canciones";
    }
    .lover-grid-galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
}

@media(min-width:1024px) {
    .grid-lover{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "lover-item      lover-item"
        "prologo         prologo"
        "canciones       canciones";
    }
    .lover-grid-galeria{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
}