/*PREMIOS*/
footer {
    margin-top: 20px;
}

.header-premio {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    img {
        border-radius: 10px;
        width: 200px;
        height: 66px;
    }
}

.premios-container {
    display: grid;
    gap: 20px;
    padding: 10px;

    div {
        border: solid 2px black;
        border-radius: 10px;
        margin-top: 20px;
        background-color: #eae4da;

        h3 {
            text-align: center;
        }
    }
}

@media(min-width:500px) {
    .premios-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header-premio {
        img {
            width: 500px;
            height: 166px;
        }
    }
}

@media(min-width:768px) {
    .premios-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header-premio {
        img {
            width: 700px;
            height: 232px;
        }
    }
}

@media(min-width:1024px) {
    .premios-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header-premio {
        img {
            width: 1024px;
            height: auto;
        }
    }
}