/*PREMIOS*/
.premios2021 {
    grid-area: premios2021;
    border: solid 2px #ac9eb8;
}

.premios2020 {
    grid-area: premios2020;
    border: solid 2px #ac9eb8;
}

.premios2019 {
    grid-area: premios2019;
    border: solid 2px #ac9eb8;
}

.premios-container {
    display: grid;
    margin-bottom: 1.5em;
    gap: 20px;
    grid-template-areas:
        "premios2021"
        "premios2020"
        "premios2019";
}

@media(min-width:500px) {
    .premios-container {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "premios2021   premios2021"
            "premios2020   premios2020"
            "premios2019   premios2019";
    }
}

@media(min-width:768px) {
    .premios-container {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "premios2021  premios2021  premios2021"
            "premios2020  premios2020  premios2020"
            "premios2019  premios2019  premios2019";
    }
}

@media(min-width:1024px) {
    .premios-contenedor {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "fotopremio2021  premio2021"
            "fotopremio2020  premio2020"
            "fotopremio2019  premio2019";
    }
}