.reputation-galeria {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 250px;
        height: 444px;
    }
}

.reputation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: reputation-item;

    img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        border: 2px solid #a39193;
    }
}

.prologo-reputation {
    grid-area: prologo;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 200px;
        height: 93px;
        border-radius: 10px;
        border: 2px solid #a39193;
    }

}

.canciones-reputation {
    grid-area: canciones;
    text-align: center;

    li {
        list-style: none;
    }
}

.reputation-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;

    img {
        border-radius: 10px;
        border: 2px solid #a39193;
        width: 200px;
        height: auto;
    }
}

.grid-reputation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "reputation-item"
        "prologo"
        "canciones";
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media(min-width:500px) {
    .grid-reputation {
        grid-template-columns: 1fr;
        grid-template-areas:
            "reputation-item"
            "prologo"
            "canciones";
    }

    .reputation-grid-galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }

    .prologo-reputation {
        img {
            width: 300px;
            height: 150px;
        }
    }

    .reputation-item {
        img {
            width: 320px;
            height: 320px;
        }
    }
}

@media(min-width:768px) {
    .grid-reputation {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "reputation-item reputation-item"
            "prologo         prologo"
            "canciones       canciones";
    }

    .reputation-grid-galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
}

@media(min-width:1024px) {
    .grid-reputation {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "reputation-item      reputation-item"
            "prologo              prologo"
            "canciones            canciones";
    }

    .reputation-grid-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }

    .prologo-reputation {
        img {
            width: 400px;
            height: 250px;
        }
    }
}