/* TOUR */

.fearless-tour {
    grid-area: fearless;
}

.speaknow-tour {
    grid-area: speaknow;
}

.red-tour {
    grid-area: rojo;
}

.pop-tour {
    grid-area: milnueve;
}

.reputation-tour {
    grid-area: reputation;
}

.container-fluid {
    grid-area: carrousel;
}

.tour-container {
    display: grid;
    margin-bottom: 1.5em;
    gap: 20px;
    grid-template-areas:
        "fearless"
        "speaknow"
        "rojo"
        "milnueve"
        "reputation"
        "carrousel";
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
}

.size-tour {
    img {
        width: 200px;
        height: 200px;
    }
}

.fearless-setlist {
    img {
        width: 200px;
        height: 266px;
    }
}

.speaknow-setlist {
    img {
        width: 200px;
        height: 164px;
    }
}

.red-setlist {
    img {
        width: 200px;
        height: 258px;
    }
}

.pop-setlist {
    img {
        width: 200px;
        height: 221px;
    }
}

.reputation-setlist {
    img {
        width: 200px;
        height: 250px;
    }
}

@media(min-width:500px) {
    .tour-container {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "fearless    fearless"
            "speaknow    speaknow"
            "rojo        rojo"
            "milnueve    milnueve"
            "reputation  reputation"
            "carrousel   carrousel";
        grid-auto-rows: minmax(200px, auto);
        gap: 10px;
    }

    .size-tour {
        img {
            width: 500px;
            height: 500px;
        }
    }

    .fearless-setlist {
        img {
            width: 500px;
            height: 600px;
        }
    }

    .speaknow-setlist {
        img {
            width: 500px;
            height: 411px;
        }
    }

    .red-setlist {
        img {
            width: 500px;
            height: 647px;
        }
    }

    .pop-setlist {
        img {
            width: 500px;
            height: 554px;
        }
    }

    .reputation-setlist {
        img {
            width: 500px;
            height: 625px;
        }
    }
}

@media (min-width:768px) {
    .tour-container {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "fearless    fearless    fearless"
            "speaknow    speaknow    speaknow"
            "rojo        rojo        rojo"
            "milnueve    milnueve    milnueve"
            "reputation  reputation  reputation"
            "carrousel   carrousel   carrousel";
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
    }
}

@media(min-width:1024px) {
    .tour-container {
        display: grid;
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "fearless    fearless"
            "speaknow    speaknow"
            "rojo        rojo"
            "milnueve    milnueve"
            "reputation  reputation"
            "carrousel   carrousel";
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
    }
}