/* INDEX */
.fotobackground {
  padding: 30px;
  border-radius: 5em;
}

.containerfrase {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  grid-area: frase;
}

.frase {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}

.parrafosindex {
  grid-area: parrafosindex;
  padding: 15px;
}

.index-container {
  display: grid;
  margin-bottom: 1.5em;
  gap: 20px;
  grid-template-areas: "frase" "parrafosindex";
}

@media (min-width: 500px) {
  .index-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "frase                 frase" "parrafosindex         parrafosindex";
  }
}
@media (min-width: 768px) {
  .index-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "frase                 frase                frase" "parrafosindex         parrafosindex        parrafosindex";
  }
}
@media (min-width: 1024px) {
  .index-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "frase                frase" "parrafosindex        parrafosindex";
  }
}
/*DISCOGRAFIA*/
.acercar {
  overflow: hidden;
}

.acercar img {
  transition: all 5s;
}

.acercar:hover img {
  transform: scale(1.5);
}

.bodycard, .card {
  background-color: #e2d9cb;
  font-family: "Lato", sans-serif;
}

.debut {
  grid-area: debut;
}

.speaknow {
  grid-area: speaknow;
}

.milnueveochentaynueve {
  grid-area: milnueveochentaynueve;
}

.reputation {
  grid-area: reputation;
}

.lover {
  grid-area: lover;
}

.folklore {
  grid-area: folklore;
}

.evermore {
  grid-area: evermore;
}

.fearless {
  grid-area: fearless;
}

.red {
  grid-area: albumred;
}

.midnights {
  grid-area: midnights;
}

.grid-img {
  display: grid;
  grid-template-areas: "debut" "speaknow" "milnueveochentaynueve" "reputation" "lover" "folklore" "evermore" "fearless" "albumred" "midnights";
  grid-template-columns: 1fr;
  grid-row: 1fr;
  gap: 15px;
  justify-items: center;
}
.grid-img a {
  text-decoration: none;
  color: black;
}

@media (min-width: 500px) {
  .grid-img {
    display: grid;
    grid-template-areas: "debut                  speaknow" "milnueveochentaynueve  reputation" "lover                  folklore" "evermore               fearless" "albumred               midnights";
    grid-template-columns: 2fr 2fr;
  }
}
/*768 px en ADELANTE  */
@media (min-width: 768px) {
  .grid-img {
    display: grid;
    grid-template-areas: "debut                  speaknow" "milnueveochentaynueve  reputation" "lover                  folklore" "evermore               fearless" "albumred               midnights";
    grid-template-columns: 2fr 2fr;
  }
}
/* 1024 px en ADELANTE */
@media (min-width: 1024px) {
  .grid-img {
    display: grid;
    grid-template-areas: "debut     speaknow  milnueveochentaynueve  reputation" "lover     folklore  evermore               fearless" "albumred  midnights null                   null";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 1.5em;
  }
}
/* GALERIA */
/*comienzo a dar estilos mobile first 0-500*/
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* TOUR */
.fearless-tour {
  grid-area: fearless;
}

.speaknow-tour {
  grid-area: speaknow;
}

.red-tour {
  grid-area: rojo;
}

.pop-tour {
  grid-area: milnueve;
}

.reputation-tour {
  grid-area: reputation;
}

.container-fluid {
  grid-area: carrousel;
}

.tour-container {
  display: grid;
  margin-bottom: 1.5em;
  gap: 20px;
  grid-template-areas: "fearless" "speaknow" "rojo" "milnueve" "reputation" "carrousel";
}
.tour-container img {
  width: 200px;
  height: 150px;
}

@media (min-width: 500px) {
  .tour-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fearless    fearless" "speaknow    speaknow" "rojo        rojo" "milnueve    milnueve" "reputation  reputation" "carrousel   carrousel";
  }
}
@media (min-width: 768px) {
  .tour-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "fearless    fearless    fearless" "speaknow    speaknow    speaknow" "rojo        rojo        rojo" "milnueve    milnueve    milnueve" "reputation  reputation  reputation" "carrousel   carrousel   carrousel";
  }
}
@media (min-width: 1024px) {
  .tour-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fearless    fearless" "speaknow    speaknow" "rojo        rojo" "milnueve    milnueve" "reputation  reputation" "carrousel   carrousel";
  }
  .tour-container img {
    width: 520px;
    height: 680px;
    margin-top: 20px;
  }
}
/*mobile first 0px-500px*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: #ac9eb8;
  text-align: center;
  padding: 15px;
}

body {
  background-color: #e2d9cb;
  font-family: "Lato", sans-serif;
}

footer {
  background-color: #ac9eb8;
}

.bgnav {
  background-color: #ac9eb8;
}

/*PREMIOS*/
.premios2021 {
  grid-area: premios2021;
  border: solid 2px #ac9eb8;
}

.premios2020 {
  grid-area: premios2020;
  border: solid 2px #ac9eb8;
}

.premios2019 {
  grid-area: premios2019;
  border: solid 2px #ac9eb8;
}

.premios-container {
  display: grid;
  margin-bottom: 1.5em;
  gap: 20px;
  grid-template-areas: "premios2021" "premios2020" "premios2019";
}

@media (min-width: 500px) {
  .premios-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "premios2021   premios2021" "premios2020   premios2020" "premios2019   premios2019";
  }
}
@media (min-width: 768px) {
  .premios-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "premios2021  premios2021  premios2021" "premios2020  premios2020  premios2020" "premios2019  premios2019  premios2019";
  }
}
@media (min-width: 1024px) {
  .premios-contenedor {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fotopremio2021  premio2021" "fotopremio2020  premio2020" "fotopremio2019  premio2019";
  }
}
.midnights-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}

.midnights-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: midnights-item;
}
.midnights-item img {
  width: 200px;
  height: 200px;
}

.prologo {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo img {
  width: 200px;
  height: 200px;
}

.canciones {
  grid-area: canciones;
  text-align: center;
}
.canciones li {
  list-style: none;
}

.midnights-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-midnights {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "midnights-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-midnights {
    grid-template-columns: 1fr;
    grid-template-areas: "midnights-item" "prologo" "canciones";
  }
  .midnights-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo img {
    width: 500px;
    height: 500px;
  }
  .midnights-item img {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .grid-midnights {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .midnights-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-midnights {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .midnights-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
.red-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}
.red-galeria img {
  width: 250px;
  height: 444px;
}

.red-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: midnights-item;
}
.red-item img {
  width: 200px;
  height: 200px;
}

.prologo-red {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-red img {
  width: 200px;
  height: 200px;
}

.canciones-red {
  grid-area: canciones;
  text-align: center;
}
.canciones-red li {
  list-style: none;
}

.red-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-red {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "midnights-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-red {
    grid-template-columns: 1fr;
    grid-template-areas: "midnights-item" "prologo" "canciones";
  }
  .red-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-red img {
    width: 500px;
    height: 500px;
  }
  .red-item img {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .grid-red {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .red-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-red {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .red-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-red img {
    width: 500px;
    height: 500px;
  }
}/*# sourceMappingURL=estilos.css.map */