/* INDEX */
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.header img {
  width: 200px;
  height: 66px;
  border: solid black 2px;
}

.containerfrase {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  grid-area: frase;
}

.frase {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.parrafosindex {
  grid-area: parrafosindex;
  padding: 15px;
}

.index-container {
  display: grid;
  margin-bottom: 1.5em;
  gap: 20px;
  grid-template-areas: "header" "frase" "parrafosindex";
}

@media (min-width: 500px) {
  .index-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header                header" "frase                 frase" "parrafosindex         parrafosindex";
  }
  .header img {
    width: 300px;
    height: 100px;
  }
}
@media (min-width: 768px) {
  .index-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header                header               header" "frase                 frase                frase" "parrafosindex         parrafosindex        parrafosindex";
  }
  .header img {
    width: 600px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .index-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header               header" "frase                frase" "parrafosindex        parrafosindex";
  }
  .header img {
    width: 700px;
    height: 233px;
  }
}
/*DISCOGRAFIA*/
.acercar {
  overflow: hidden;
}

.acercar img {
  transition: all 5s;
}

.acercar:hover img {
  transform: scale(1.5);
}

.bodycard, .card {
  background-color: #e2d9cb;
  font-family: "Lato", sans-serif;
}

.debut {
  grid-area: debut;
}

.speaknow {
  grid-area: speaknow;
}

.milnueveochentaynueve {
  grid-area: milnueveochentaynueve;
}

.reputation {
  grid-area: reputation;
}

.lover {
  grid-area: lover;
}

.folklore {
  grid-area: folklore;
}

.evermore {
  grid-area: evermore;
}

.fearless {
  grid-area: fearless;
}

.red {
  grid-area: albumred;
}

.midnights {
  grid-area: midnights;
}

.grid-img {
  display: grid;
  grid-template-areas: "debut" "speaknow" "milnueveochentaynueve" "reputation" "lover" "folklore" "evermore" "fearless" "albumred" "midnights";
  grid-template-columns: 1fr;
  grid-row: 1fr;
  gap: 15px;
  justify-items: center;
}
.grid-img a {
  text-decoration: none;
  color: black;
}

@media (min-width: 500px) {
  .grid-img {
    display: grid;
    grid-template-areas: "debut                  speaknow" "milnueveochentaynueve  reputation" "lover                  folklore" "evermore               fearless" "albumred               midnights";
    grid-template-columns: 2fr 2fr;
  }
}
/*768 px en ADELANTE  */
@media (min-width: 768px) {
  .grid-img {
    display: grid;
    grid-template-areas: "debut                  speaknow" "milnueveochentaynueve  reputation" "lover                  folklore" "evermore               fearless" "albumred               midnights";
    grid-template-columns: 2fr 2fr;
  }
}
/* 1024 px en ADELANTE */
@media (min-width: 1024px) {
  .grid-img {
    display: grid;
    grid-template-areas: "debut     speaknow  milnueveochentaynueve  reputation" "lover     folklore  evermore               fearless" "albumred  midnights null                   null";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 1.5em;
  }
}
/* GALERIA */
/*comienzo a dar estilos mobile first 0-500*/
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* TOUR */
.fearless-tour {
  grid-area: fearless;
}

.speaknow-tour {
  grid-area: speaknow;
}

.red-tour {
  grid-area: rojo;
}

.pop-tour {
  grid-area: milnueve;
}

.reputation-tour {
  grid-area: reputation;
}

.container-fluid {
  grid-area: carrousel;
}

.tour-container {
  display: grid;
  margin-bottom: 1.5em;
  gap: 20px;
  grid-template-areas: "fearless" "speaknow" "rojo" "milnueve" "reputation" "carrousel";
}
.tour-container img {
  width: 200px;
  height: 150px;
}

@media (min-width: 500px) {
  .tour-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fearless    fearless" "speaknow    speaknow" "rojo        rojo" "milnueve    milnueve" "reputation  reputation" "carrousel   carrousel";
  }
}
@media (min-width: 768px) {
  .tour-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "fearless    fearless    fearless" "speaknow    speaknow    speaknow" "rojo        rojo        rojo" "milnueve    milnueve    milnueve" "reputation  reputation  reputation" "carrousel   carrousel   carrousel";
  }
}
@media (min-width: 1024px) {
  .tour-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fearless    fearless" "speaknow    speaknow" "rojo        rojo" "milnueve    milnueve" "reputation  reputation" "carrousel   carrousel";
  }
  .tour-container img {
    width: 520px;
    height: 680px;
    margin-top: 20px;
  }
}
/*mobile first 0px-500px*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: #ac9eb8;
  text-align: center;
  padding: 15px;
}

body {
  background-color: #e2d9cb;
  font-family: "Lato", sans-serif;
}

footer {
  background-color: #ac9eb8;
}

.bgnav {
  background-color: #ac9eb8;
}

/*PREMIOS*/
.premios2021 {
  grid-area: premios2021;
  border: solid 2px #ac9eb8;
}

.premios2020 {
  grid-area: premios2020;
  border: solid 2px #ac9eb8;
}

.premios2019 {
  grid-area: premios2019;
  border: solid 2px #ac9eb8;
}

.premios-container {
  display: grid;
  margin-bottom: 1.5em;
  gap: 20px;
  grid-template-areas: "premios2021" "premios2020" "premios2019";
}

@media (min-width: 500px) {
  .premios-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "premios2021   premios2021" "premios2020   premios2020" "premios2019   premios2019";
  }
}
@media (min-width: 768px) {
  .premios-container {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "premios2021  premios2021  premios2021" "premios2020  premios2020  premios2020" "premios2019  premios2019  premios2019";
  }
}
@media (min-width: 1024px) {
  .premios-contenedor {
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fotopremio2021  premio2021" "fotopremio2020  premio2020" "fotopremio2019  premio2019";
  }
}
.midnights-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}

.midnights-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: midnights-item;
}
.midnights-item img {
  width: 200px;
  height: 200px;
}

.prologo {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo img {
  width: 200px;
  height: 200px;
}

.canciones {
  grid-area: canciones;
  text-align: center;
}
.canciones li {
  list-style: none;
}

.midnights-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-midnights {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "midnights-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-midnights {
    grid-template-columns: 1fr;
    grid-template-areas: "midnights-item" "prologo" "canciones";
  }
  .midnights-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo img {
    width: 500px;
    height: 500px;
  }
  .midnights-item img {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .grid-midnights {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .midnights-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-midnights {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .midnights-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
.red-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}
.red-galeria img {
  width: 250px;
  height: 444px;
}

.red-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: midnights-item;
}
.red-item img {
  width: 200px;
  height: 200px;
}

.prologo-red {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-red img {
  width: 200px;
  height: 200px;
}

.canciones-red {
  grid-area: canciones;
  text-align: center;
}
.canciones-red li {
  list-style: none;
}

.red-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-red {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "midnights-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-red {
    grid-template-columns: 1fr;
    grid-template-areas: "midnights-item" "prologo" "canciones";
  }
  .red-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-red img {
    width: 500px;
    height: 500px;
  }
  .red-item img {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .grid-red {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .red-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-red {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .red-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
.fearless-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fearless-galeria img {
  width: 200px;
  height: 375px;
}

.fearless-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: midnights-item;
}
.fearless-item img {
  width: 200px;
  height: 200px;
}

.prologo-fearless {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-fearless img {
  width: 200px;
  height: 200px;
}

.canciones-fearless {
  grid-area: canciones;
  text-align: center;
}
.canciones-fearless li {
  list-style: none;
}

.fearless-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-fearless {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "midnights-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-fearless {
    grid-template-columns: 1fr;
    grid-template-areas: "midnights-item" "prologo" "canciones";
  }
  .fearless-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-fearless img {
    width: 500px;
    height: 500px;
  }
  .fearless-item img {
    width: 320px;
    height: 320px;
  }
  .fearless-galeria img {
    width: 300px;
    height: 475px;
  }
}
@media (min-width: 768px) {
  .grid-fearless {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .fearless-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-fearless {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "midnights-item  midnights-item" "prologo         prologo" "canciones       canciones";
  }
  .fearless-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
.evermore-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}

.evermore-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: evermore-item;
}
.evermore-item img {
  width: 200px;
  height: 200px;
}

.prologo-evermore {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-evermore img {
  width: 200px;
  height: 200px;
}

.canciones-evermore {
  grid-area: canciones;
  text-align: center;
}
.canciones-evermore li {
  list-style: none;
}

.evermore-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-evermore {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "evermore-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-evermore {
    grid-template-columns: 1fr;
    grid-template-areas: "evermore-item" "prologo" "canciones";
  }
  .evermore-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-evermore img {
    width: 500px;
    height: 500px;
  }
  .evermore-item img {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .grid-evermore {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "evermore-item  evermore-item" "prologo         prologo" "canciones       canciones";
  }
  .evermore-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-evermore {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "evermore-item  evermore-item" "prologo         prologo" "canciones       canciones";
  }
  .evermore-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
.folklore-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}

.folklore-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: folklore-item;
}
.folklore-item img {
  width: 200px;
  height: 200px;
}

.prologo-folklore {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-folklore img {
  width: 200px;
  height: 200px;
}

.canciones-folklore {
  grid-area: canciones;
  text-align: center;
}
.canciones-folklore li {
  list-style: none;
}

.folklore-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-folklore {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "folklore-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-folklore {
    grid-template-columns: 1fr;
    grid-template-areas: "folklore-item" "prologo" "canciones";
  }
  .folklore-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-folklore img {
    width: 500px;
    height: 500px;
  }
  .folklore-item img {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .grid-folklore {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "folklore-item   folkore-item" "prologo         prologo" "canciones       canciones";
  }
  .folklore-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-folklore {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "folklore-item   folklore-item" "prologo         prologo" "canciones       canciones";
  }
  .folklore-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
.lover-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lover-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: lover-item;
}
.lover-item img {
  width: 200px;
  height: 200px;
}

.prologo-lover {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-lover img {
  width: 200px;
  height: 200px;
}

.canciones-lover {
  grid-area: canciones;
  text-align: center;
}
.canciones-lover li {
  list-style: none;
}

.lover-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-lover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "lover-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-lover {
    grid-template-columns: 1fr;
    grid-template-areas: "lover-item" "prologo" "canciones";
  }
  .lover-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-lover img {
    width: 500px;
    height: 500px;
  }
  .lover-item img {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .grid-lover {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "lover-item      lover-item" "prologo         prologo" "canciones       canciones";
  }
  .lover-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-lover {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "lover-item      lover-item" "prologo         prologo" "canciones       canciones";
  }
  .lover-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
.reputation-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reputation-galeria img {
  width: 250px;
  height: 444px;
}

.reputation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: reputation-item;
}
.reputation-item img {
  width: 200px;
  height: 200px;
}

.prologo-reputation {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-reputation img {
  width: 200px;
  height: 93px;
}

.canciones-reputation {
  grid-area: canciones;
  text-align: center;
}
.canciones-reputation li {
  list-style: none;
}

.reputation-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-reputation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "reputation-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-reputation {
    grid-template-columns: 1fr;
    grid-template-areas: "reputation-item" "prologo" "canciones";
  }
  .reputation-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-reputation img {
    width: 300px;
    height: 150px;
  }
  .reputation-item img {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .grid-reputation {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "reputation-item reputation-item" "prologo         prologo" "canciones       canciones";
  }
  .reputation-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-reputation {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "reputation-item      reputation-item" "prologo              prologo" "canciones            canciones";
  }
  .reputation-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-reputation img {
    width: 400px;
    height: 250px;
  }
}
.milnueve-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}
.milnueve-galeria img {
  width: 200px;
  height: 200px;
}

.milnueve-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: milnueve-item;
}
.milnueve-item img {
  width: 200px;
  height: 200px;
}

.prologo-milnueve {
  grid-area: prologo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-milnueve img {
  width: 200px;
  height: 200px;
}

.canciones-milnueve {
  grid-area: canciones;
  text-align: center;
}
.canciones-milnueve li {
  list-style: none;
}

.milnueve-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-milnueve {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "milnueve-item" "prologo" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-milnueve {
    grid-template-columns: 1fr;
    grid-template-areas: "milnueve-item" "prologo" "canciones";
  }
  .milnueve-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-milnueve img {
    width: 500px;
    height: 500px;
  }
  .milnueve-item img {
    width: 320px;
    height: 320px;
  }
  .milnueve-galeria img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 768px) {
  .grid-milnueve {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "milnueve-item   milnueve-item" "prologo         prologo" "canciones       canciones";
  }
  .milnueve-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-milnueve {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "milnueve-item        milnueve-item" "prologo              prologo" "canciones            canciones";
  }
  .milnueve-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
.speaknow-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}
.speaknow-galeria img {
  width: 200px;
  height: 200px;
}

.speaknow-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: speaknow-item;
}
.speaknow-item img {
  width: 200px;
  height: 200px;
}

.prologo-speaknow {
  grid-area: prologo-speaknow;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prologo-speaknow img {
  width: 200px;
  height: 200px;
}

.canciones-speaknow {
  grid-area: canciones;
  text-align: center;
}
.canciones-speaknow li {
  list-style: none;
}

.speaknow-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-speaknow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "speaknow-item" "prologo-speaknow" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-speaknow {
    grid-template-columns: 1fr;
    grid-template-areas: "speaknow-item" "prologo-speaknow" "canciones";
  }
  .speaknow-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-speaknow img {
    width: 500px;
    height: 500px;
  }
  .speaknow-item img {
    width: 320px;
    height: 320px;
  }
  .speaknow-galeria img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 768px) {
  .grid-speaknow {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "speaknow-item   speaknow-item" "prologo-speaknow prologo-speaknow" "canciones       canciones";
  }
  .speaknow-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-speaknow {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "speaknow-item        speaknow-item" "prologo-speaknow     prologo-speaknow" "canciones            canciones";
  }
  .speaknow-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .prologo-speaknow img {
    width: 300px;
    height: 300px;
  }
  .speaknow-item img {
    width: 300px;
    height: 300px;
  }
}
.debut-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}
.debut-galeria img {
  width: 200px;
  height: 200px;
}

.debut-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d9cb;
  grid-area: debut-item;
}
.debut-item img {
  width: 200px;
  height: 200px;
}

.canciones-debut {
  grid-area: canciones;
  text-align: center;
}
.canciones-debut li {
  list-style: none;
}

.debut-grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-debut {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "debut-item" "canciones";
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .grid-debut {
    grid-template-columns: 1fr;
    grid-template-areas: "debut-item" "canciones";
  }
  .debut-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .debut-item img {
    width: 320px;
    height: 320px;
  }
  .debut-galeria img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 768px) {
  .grid-debut {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "debut-item   debut-item" "canciones    canciones";
  }
  .debut-grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1024px) {
  .grid-speaknow {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "debut-item        debut-item" "canciones         canciones";
  }
  .debut-grid-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
}/*# sourceMappingURL=estilos.css.map */